@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    font-family: 'Roboto';
}

.dayCards{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    margin: auto;
}

.calanderHeader{
    text-align: center;
}

.dayCard{
    border: 1px solid #333;
    flex-basis: 14%;
    margin: 1%;
    text-align: center;
}
.dayCard:hover{
    
    background: #DDD;
    transition-duration: 0.5s;
}

.currentDay{
    background: rgb(243, 255, 77);
}

.startDay{
    background: rgb(65, 141, 255);
}

.doneDay{
    background: rgb(255, 73, 73);
}

button{
    color:#fff;
    background: #333;
    text-align: center;
    padding: 10px;
}

.button-cool{
    display: block;
    width: 30%;
    margin: 15px auto;
    padding:20px 30px;
    outline: none;
    background-color: #27ae60;
    border: none;
    border-radius:5px;
    box-shadow: 0 9px #95a5a6;
}

.button-cool:hover{
    background-color: #2ecc71;
}

.button-change{

}

.button-complete{

}

.dateControls{
    display: flex;
    flex-basis: 30%;

}

.deleteHabit{
    margin-left: 10px;
}

.deleteHabit:hover{
    color: rgb(231, 3, 3);
}